{
  "extends": "airbnb",
  "installedESLint": true,
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "ENV": true,
    "_": true,
    "$": true,
    "jQuery": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}]
  }
}
